In [1]:
from preprocess import preprocess
from helper import *
import numpy as np
import torch
from transformers import BertTokenizer

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/francois/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
path_to_tweets = '../data/twitter-datasets/'
pos_path = path_to_tweets + 'train_pos.txt'
neg_path = path_to_tweets + 'train_neg_full.txt'
test_path = path_to_tweets + 'test_data.txt'

In [3]:
df_train = load_train(pos_path, neg_path, 100)
df_train[180:200]

                                                tweet  label
80  newpics #nsfw #sexy hot blonde ready for the g...     -1
81  hannah wants playing at dc on saturday , sooo ...     -1
82  jersey shore 13x25 custom picture frame / post...     -1
83  isn't it strange to call it " past " when we k...     -1
84  star brite economy boat hook ( 4-8- feet teles...     -1
85  <user> i love cambon ! my first rouge coco and...     -1
86  coastal walks : normandy and brittany ( footpa...     -1
87  what are you confident in ? ( a devotional ) (...     -1
88                       <user> what's happened ? xxx     -1
89   <user> the worst way to miss a person is to b...     -1
90      so justin is in london and i am off to school     -1
91  <user> <user> the two of you have to talk when...     -1
92  natrum muriaticum ( potency : lm 25 natrum mur...     -1
93  there's actually no coffee in my house #breaki...     -1
94  seriously what about jerking-off a strapon ? r...     -1
95  k ! hopeless ang packaging . editing pictures ...     -1
96          <user> hihi ... . bt i havnt hav anything     -1
97  sex , straight up ( harlequin blaze ) ( mass m...     -1
98             wondering when she'll talk to me again     -1
99  i feel like being in the bed resting ' i didnt...     -1

In [4]:
df_test = load_test(test_path)
#df_test = pd.read_csv(test_path, sep='^([^,]+),', engine='python', names=['Id', 'tweet'])
#return df_tweet[['Id', 'tweet']]
df_test.head()

     Id                                              tweet
NaN   1  sea doo pro sea scooter ( sports with the port...
NaN   2  <user> shucks well i work all week so now i ca...
NaN   3            i cant stay away from bug thats my baby
NaN   4  <user> no ma'am ! ! ! lol im perfectly fine an...
NaN   5  whenever i fall asleep watching the tv , i alw...

In [18]:
df = pd.read_csv(test_path, sep='^([^,]+),', engine='python', names=['Id', 'tweet'])
df.index = df['Id']
df

          Id                                              tweet
Id
1          1  sea doo pro sea scooter ( sports with the port...
2          2  <user> shucks well i work all week so now i ca...
3          3            i cant stay away from bug thats my baby
4          4  <user> no ma'am ! ! ! lol im perfectly fine an...
5          5  whenever i fall asleep watching the tv , i alw...
...      ...                                                ...
9996    9996             had a nice time w / my friend lastnite
9997    9997                 <user> no it's not ! please stop !
9998    9998  not without my daughter ( dvd two-time oscar (...
9999    9999               <user> have fun in class sweetcheeks
10000  10000  making a r . e . a . l . difference . ( get r ...

[10000 rows x 2 columns]

## Preprocess the data

In [5]:
# Preprocess train data
out_pre_train = path_to_tweets + 'pre_train.csv'
df_train = preprocess(df_train, out_pre_train)

In [6]:
# Preprocess test data
out_pre_test = path_to_tweets + 'pre_test.csv.zip'
l = preprocess(out_pre_test, out_pre_train)

TypeError: string indices must be integers

In [ ]:
# Load the preprocessed train data

In [ ]:
# Load the preprocessed test data

## Tokenize the data

In [ ]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [ ]:
def compute_mask(input_id):
    input_id[input_id != 0] = 1
    return input_id
    
def tokenize(tweets_df, tokenizer, out_csv_path):
    tweets_df['input_ids'] = tweets_df['tweet'].apply(lambda tweet: torch.LongTensor(tokenizer.encode(tweet)))
    tweets_df['attention_mask'] = tweets_df['input_ids'].apply(lambda input_id: compute_mask(input_id))
    tweets_df = tweets_df[['label', 'input_ids', 'attention_mask']]
    tweets_df.to_csv(out_path, index=False)
    return tweet_df

In [ ]:
out_token_train = path_to_tweets + 'token_train.csv'
tokenize(df_train, tokenizer, out_token_train)